default: &defaults
  adapter: mysql2
  encoding: utf8
  reconnect: true
  pool: 5
  username: root
  password:
  host: localhost

development:
	<< *defaults
	database: htr1_hackerboard

test:
	<< *defaults
	database: htr1_hackerboard
