<% @categories.each do |category| %>
  <p>
    <%= link_to category.name, edit_admin_category_path(category) %>
    <%= link_to "Remove", remove_admin_category_path(category) %>
    <%= link_to "Edit", edit_admin_category_path(category) %>
  </p>
<% end %>

<p>
  <%= link_to "Add category", new_admin_category_path %>
</p>